

* {
    font-family: 'Ubuntu', sans-serif;
}
body {
    margin: 0;
}
/* Nav Bar Styling*/

.nav-bar {
    width: 100%;
    background-color: lightgray;
    position: fixed;
    top: 0%;
}

.nav-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.logo {
    width: auto;
    margin-top: 2vh;
    height: 8vh;
}
nav {
    width: 60%;
}

.nav-links {
    list-style: none;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 1.5rem;
}

.social-links {
    justify-content: space-around;
    justify-self: right;
    width: auto
}


/* Homepage header Styling */


.header {
    background-image: url('/images/indian-dhal-spicy-curry-bowl-spices-herbs-rustic-black-wooden-table.jpg');
    background-size: cover;
    background-position: 25% 75%;
    height: 90vh;
    width: 100vw;
}

/* Location Bar Styling */

.truckLocale {
    margin: 0 auto;
    width: 90%;
    text-align: left;
    position: relative;
    top: 30vh;
    left: 0;
}

.todays-location {
    margin-top:  0px;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    padding-top: 2vh;
    text-decoration: underline;
    display: inline;
    font-family: 'Londrina Outline', cursive;
    font-size: 3rem;
}

#truckAddress, #truckAddress2 {
    color: whitesmoke;
    font-family: 'Londrina Outline', cursive;
    font-size: 3rem;
}

.truck-address {
    margin-top: 4px;
}

/*==============================================================
        Responsive Styling (Media Queries)
================================================================*/

@media screen and (max-width: 1024px) {

    .nav-links {
        font-size: 1rem;
    }

    #truckAddress, #truckAddress2 {
        font-size: 2rem;
    }

    .todays-location, .truck-address { 
        position: relative;
        top: 25vh;
    }
}

@media screen and (max-width: 769px) { }

@media screen and (max-width: 481px) {

    .header {
        background-position: 50% 50%;
    }

    .todays-location, .truck-address { 
        font-size: 1.5rem;
        position: relative;
        top: 20vh;
    }
 }


