

* {
    font-family: 'Ubuntu', sans-serif;
}
body {
    margin: 0;
}
/* Nav Bar Styling*/

.nav-bar {
    width: 100%;
    background-color: lightgray;
    position: fixed;
    top: 0%;
}

.nav-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.logo {
    width: auto;
    margin-top: 2vh;
    height: 8vh;
}
nav {
    width: 60%;
}

.nav-links {
    list-style: none;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 50%;
    font-size: 1.5rem;
}

.social-links {
    justify-content: space-around;
    justify-self: right;
    width: auto
}


/* Homepage header Styling */

.home-header {
    height: 70vh;
}

.food-header-image {
    max-width: 100%;
    height: auto;
}



/*==============================================================
        Responsive Styling (Media Queries)
================================================================*/

@media screen and (max-width: 1024px) {

    .nav-links {
        font-size: 1rem;
    }

}